[submodule "transamerica.cloud.autoscalinggroup.ami.windowsAgent"]
	path = transamerica.cloud.autoscalinggroup.ami.windowsAgent
	url = http://bitbucket.us.aegon.com/scm/tacloudmodule/transamerica.cloud.autoscalinggroup.ami.windowsagent.git
